<div>
  <aedigital-header caption="Post Secondary Services" subCaption="">
    <div fxShow fxHide.lt-md>
      <button mat-button [routerLink]="'/home'">Home</button>
      <button mat-button [routerLink]="'/home/Page1'">Providers</button>
      <button mat-button [routerLink]="'/home/Page2'">Test Form</button>
      <button mat-button href="#">For four</button>
      <button mat-button href="#">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button href="#">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <div fxHide fxShow.lt-md>
      <button mat-button (click)="showMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </aedigital-header>

  <mat-sidenav-container>
    <mat-sidenav #rightSidenav mode="over" autoFocus="false" position="end" class="right-sheet"
      [fixedInViewport]="false" fxLayoutGap="8px">
      <aedigital-menu-sidebar *ngIf="menu==='menu'" ></aedigital-menu-sidebar>
      <aedigital-program-search-sort-options-sidebar *ngIf="menu=='sort'" 
      [sortOptions]="sortOption$ | async"
      [selectedSortOrder]="selectedSortOrder$ | async"
      ></aedigital-program-search-sort-options-sidebar>

      <aedigital-program-search-filter-options-sidebar *ngIf="menu=='filter'" 
      [providers]="providers$ | async" 
      [credentials]="programCredentials$ | async"
      [programTypes]="programTypes$ | async"
      [selectedProviderIds]="selectedProviderIds$ | async"
      [selectedCredentialIds]="selectedCredentialIds$ | async"
      [selectedLocation]="selectedPostalCode$ | async"
      [selectedCipSubSeriesCode]="selectedCipSubSeriesCode$ | async"
      ></aedigital-program-search-filter-options-sidebar>
    </mat-sidenav>
    <mat-sidenav #left mode="over" autoFocus="false" class="left-sheet"
      [fixedInViewport]="false" fxLayoutGap="8px">
    </mat-sidenav>
    <mat-sidenav-content fxLayoutAlign="center">
      <div class="container" fxFlex="100" fxFlex.gt-md="1272px;" fxLayoutGap="{{FlexConstants.Margin.Large}}">
        <div></div>
        <div fxFlex="100" fxLayoutGap="{{FlexConstants.Gutter.Large}}">
          <div></div>
          <router-outlet></router-outlet>
          <div></div>
        </div>
        <div></div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
  <aedigital-footer></aedigital-footer>
</div>