<div fxFlex fxLayout="column"> <!--Child controls are drawn vertically, one after another-->
    <div>Breadcrumb goes here</div>
    <aedigital-banner style="background-color: #0081A2;" fxLayout="left center">
        <div caption style="color:white">Test Form Thing</div>
        <div subcaption style="color:white">Warning, testing going on here. Test, test and more tests!</div>
    </aedigital-banner>
    <div fxLayout="row" fxLayoutAlign="" fxLayoutGap="8px"> <!--Child controls are drawn horizontally, one after another--> 
        <div></div>
        <form fxLayout="column" fxFlex="66">
            <h1>Grouping one</h1>
            <p>Aenean laoreet lacinia nunc, eu consectetur ante scelerisque vel. In viverra turpis varius, suscipit arcu
                vel, sollicitudin libero.</p>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="Enter a first name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input type="text" matInput placeholder="Enter a middle name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Enter a last name" />
            </mat-form-field>
            <div fxFlex fxLayout="row" fxLayoutGap="8px">
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput placeholder="000-000-0000" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select >
                        <!-- <mat-option>--Select One--</mat-option> -->
                        <mat-option>Type One</mat-option>
                        <mat-option>Type Two</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button>Add another number</button>
            </div>
            <mat-label>Is this a test?</mat-label>
            <div>
                <mat-radio-group fxLayoutGap="8px" fxLayout="column">
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                    <mat-radio-button value="3">Not sure</mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxLayoutGap="8px">
                <button mat-flat-button color="primary">Submit</button>
                <button mat-flat-button>Cancel</button>
            </div>
        </form>
    </div>
</div>