<!-- <div *ngIf="!this.providers">
  <div> spinner icon ... loading </div>
</div> -->
<div fxLayout="row" fxFlex="100">
  <div fxFlex="100">
    <input
      fxFlex
      [formControl]="myControl"
      [matAutocomplete]="auto"
      matInput
      type="text"
      maxlength="256"
      (keyup)="onSearchChange($event.target.value)"
      [(ngModel)]="this.keywords"
    />

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event.option.value)">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        <div>
          <div fxFlex>
            {{ option.name }}
          </div>
          <div fxFlex="100px">
            <mat-chip>{{ option.type }}</mat-chip>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>

    <div fxFlex="40px">
      <button
        style="background-color: #0070c4"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="search"
        [attr.data-cy]="'searchblock.view-program-search-results'"
        [disabled]="searchdisabled"
        [routerLink]="['program-search-results']"
        [queryParams]="{ keywords: this.keywords }"
        (click)="displaySearchResult()"
        queryParamsHandling="merge"
      >
        <mat-icon color="primary" style="font-size: 24px; color: white"
          >search</mat-icon
        >
      </button>
    </div>
  </div>
</div>
