<div fxFlex fxLayout="column" style="background-color: #0081A2;">
    <div fxFlex="300px;" fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="60%" 
      fxFlex="{{ FlexConstants.Column.Large_6 }}">  

      <div alt="loanapplyimage"  fxHide.lt-md>
        <!-- <img flex-shrink flex-grow [src]="AddBackgroundImage()" /> -->
        <img fxFlex="75%"  [src]="getLoanApplyUrl()" />
      </div>


         </div>
      <div fxFlex style="color: white;">
        <h1>{{ this.loandata[0].Loanapplytitle }}</h1>
        <p>{{ this.loandata[0].Loanapplymessage }}</p>
        <button
        [attr.data-cy]="'loanstart.start_application_process'"
        mat-raised-button color="primary"
        >{{ this.loandata[0].Buttonstart }}</button>
      </div>

    </div>
  </div>