<div fxLayout="column" fxFlex="100" >
        <div alt="programapplyimage" *ngIf="this.programdata[0].applyimage" fxHide.lt-md>
          <img fxFlex="100%" src="http://localhost:1337{{ this.programdata[0].applyimage.url }}" />
        </div>

        <h1>{{ this.programdata[0].applytitle }}</h1>
        <h2>{{ this.programdata[0].applymessage }}</h2>

        <ul>
          <li *ngFor="let c of credentials | slice :0:5">{{ c.programType}}</li>
        </ul>


        <button mat-raised-button color="primary"
        [attr.data-cy]="'programstart.start_application_process'"
        >{{ this.programdata[0].buttonstart }}</button>

</div>