<div class="flex" style="background: black; color:white;">
    <ul>
      <li *ngFor="let t of providers" class="provider">{{ t.providerName }}</li>
    </ul>
    <div fxflex="100" fxLayoutGap="8px">
      <div></div>
      <input fxflex="30" fxFlex.lt-md="100" [(ngModel)]="pagenumber" matInput />
      <button (click)="this.pagenumber= this.pagenumber + 1; fetch()">Next</button>
      <input [(ngModel)]="pagesize" matInput  /></div>
    <div>
     <button (click)="fetch()">Refresh</button> 
    </div>
    
  </div>