<div *ngIf="program" fxFlex="100" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="{{ FlexConstants.Gutter.Large }}">
    <div fxLayout="column" [attr.data-cy]="'program-summary-detail.programName'" class="title"
      fxFlex="{{ FlexConstants.Column.Large_7 }}">
      {{ program.programName }}
    </div>
  </div>
  <div style="height: 10px"></div>
  <div fxLayout="row" fxFlex="100" [attr.data-cy]="'program-summary-detail.providerprogramsummary'">

    {{ program.providerName }} | {{ program.getProgramTermandCredential }} | <a href="http://{{ program.websiteUrl }}"
      style="text-align: center; display: flex; text-decoration: none" target="_blank">
      <span>Program page </span>
      <mat-icon style="height: 18px">open_in_new</mat-icon>
    </a>
  </div>

  <div style="height: 10px"></div>
  <div fxLayout="row" fxLayoutGap="{{ FlexConstants.Gutter.Large }}">
    <div fxLayout="column" [attr.data-cy]="'program-summary-detail.providerOverview'" class="paragraph-content"
      [fxFlex]="FlexConstants.Column.Large_8">
      {{program.pr}}
      MacEwan University inspires students with a powerful combination of
      academic excellence and personal learning experiences - ours is a
      connected culture that focuses on learner-centred teaching, and on
      providing opportunities for students to grow and achieve. The university
      provides a transformative education in a collaborative and supportive
      environment where creativity and innovation thrive. Faculties focus on
      teaching, and many are also engaged in ground-breaking,
      internationally-recognized research and scholarly and artistic activity
      that enhances their teaching and the curriculum - and creates
      opportunities for student involvement in research. The university offers a
      broad complement of programs comprised of bachelor and applied degrees,
      diplomas and certificates. Faculties and schools offer programming in fine
      arts and communications; health and community studies; liberal arts and
      sciences; and business.
    </div>
    <div>
      <ae-provider-location></ae-provider-location>
    </div>
  </div>

  <div style="height: 20px"></div>
  <div>
    <div fxLayout="row" fxLayoutGap="{{ FlexConstants.Gutter.Small }}" fxLayoutAlign="left center">

      <div fxLayout="column" fxFlex="{{ FlexConstants.Column.Large_3 }}">
        <button [attr.data-cy]="'program-summary-detail.apply-button'" mat-flat-button class="primary-button">
          Apply to this program
        </button>
      </div>
      <div fxLayout="column" fxFlex="{{ FlexConstants.Column.Large_3 }}">
        <button [attr.data-cy]="'program-summary-detail.compare-button'" mat-flat-button class="secondary-button">
          Compare this program
        </button>
      </div>
      <div fxFlex>

      </div>
    </div>
    <div style="height: 20px"></div>
    <div>
      <mat-tab-group>
        <mat-tab label="Admission" [attr.data-cy]="'program-summary-detail.admission-tab'">
          <aedigital-program-summary-detail-admission [content]="programDetailData.tabs[0]">
          </aedigital-program-summary-detail-admission>
        </mat-tab>
        <mat-tab label="Outcomes" [attr.data-cy]="'program-summary-detail.outcomes-tab'">
          <aedigital-program-summary-detail-outcomes [content]="programDetailData.tabs[3]"></aedigital-program-summary-detail-outcomes>
        </mat-tab>
        <mat-tab label="Cost" [attr.data-cy]="'program-summary-detail.cost-tab'">
          <aedigital-program-summary-detail-cost [content]="programDetailData.tabs[2]"></aedigital-program-summary-detail-cost>
        </mat-tab>
        <mat-tab label="Occupations" [attr.data-cy]="'program-summary-detail.occupations-tab'">
          <aedigital-program-summary-detail-occupations [content]="programDetailData.tabs[1]"></aedigital-program-summary-detail-occupations>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>