
  button {
    text-align: right;
    font: normal normal bold 18px/24px Acumin Pro SemiCondensed;
    letter-spacing: 0px;
    background-color: #ffffff;
  }
  
  .title {

    font: normal normal bold 48px/56px Acumin Pro SemiCondensed;
    letter-spacing: 0px;
    text-align: left;
 
    color: #333333;
    opacity: 1;

  }
  
  .sub-title {
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 16px/28px Acumin Pro SemiCondensed;
    letter-spacing: 0px;
    color: #0070C4;
    opacity: 1;
  }
  
  .paragraph-header {
    text-align: left;
    font: normal normal normal 24px/32px Acumin Pro SemiCondensed;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  
  .paragraph-content {
    text-align: left;
    font: normal normal normal 18px/28px Acumin Pro SemiCondensed;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;

  }
  
  .primary-button {
  
    color:#ffffff;


    background: 0% 0% no-repeat padding-box;

    background: #0070C4 0% 0% no-repeat ;
    border: 2px solid #0070C4;
    border-radius: 4px;
    opacity: 1;
  }
  
  .secondary-button {
 
    color: #0070c4;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #0070C4;
    border-radius: 4px;
    opacity: 1;

  }
  


  


  .school-name {
    text-align: left;
    font-weight: bold;
    font: Bold Bold Bold l 18px/29px Acumin Pro SemiCondensed;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }


  .secondary-title{
    text-align: left;
    font: normal normal normal 24px/28px Acumin Pro SemiCondensed;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }