/* You can add global styles to this file, and also import other style files */

.red-border {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

goa-microsite-logo {
    max-width: 500px;
}