<div fxLayout="column">
    <div fxFlex=100 fxLayout="row" fxLayoutGap="{{FlexConstants.Gutter.Large}}">
        <div fxFlex="{{FlexConstants.Column.Large}}" fxLayoutAlign="center center"><img fxFlex="72px;" fxShrink [(src)]="providerLogo().logoUrl"></div>
        <div fxLayout="column" fxFlex="{{FlexConstants.Column.Large_6}}">
            <div>{{program.programName}}</div>
            <div>{{providerSpecialization()}}</div>
            <div>{{programProvider().providerName}}</div>
            <div></div>
            <div fxLayout="row" fxLayoutGap="{{FlexConstants.Gutter.Large}}">
                <div fxFlex="{{FlexConstants.Column.Large_2}}">{{program.programLength}}</div>
                <div fxFlex="{{FlexConstants.Column.Large_2}}">{{program.programCredentialId}}</div>
                <div fxFlex="{{FlexConstants.Column.Large_2}}">$ {{programCost()}}/year</div>
            </div>
        </div>
        <div fxFlex="{{FlexConstants.Column.Large_2}}">
            <div fxLayout="column">
                <div>Median Income</div>
                <div>Employment Rate</div>
            </div>
        </div>
    </div>
</div>
<hr>