<div fxLayout="row" fxLayoutGap="16px">
    <div></div>
    <div fxFlex fxLayout="column" >
        <div fxFlex [attr.data-cy]="'providerName'" >{{provider.providerName}}</div>
        <div [attr.data-cy]="'programCount'">{{[(programCount())]}} Programs</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
        <a mat-stroked-button [routerLink]="['program-search-results']"  [queryParams]="{provider: provider.providerId}" queryParamsHandling="merge" >View</a>
    </div>
</div>
<hr>