<div>
  <aedigital-header caption = "Advanced Education - Test Flow" subCaption = "">
    <button mat-button [routerLink]="'/Page1'">Option 1</button>
    <button mat-button [routerLink]="'/home'">2nd Option</button>
    <button mat-button href="#">Numero trois</button>
    <button mat-button href="#">For four</button>
    <button mat-button href="#">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button href="#">
      <mat-icon>account_circle</mat-icon>
    </button>
  </aedigital-header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <aedigital-footer></aedigital-footer>
</div>