<div fxFlex fxLayout="column">
  <div fxFlex fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="10px">
    <goa-header serviceName="Advanced Education - Test Flow" serviceHome="ServiceHome" serviceLevel="Alpha" fxFlex>
    </goa-header>
    <button mat-button [routerLink]="'/Page1'">Option 1</button>
    <button mat-button [routerLink]="'/home'">2nd Option</button>
    <button mat-button href="#">Numero trois</button>
    <button mat-button href="#">For four</button>
    <button mat-button href="#">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button href="#">
      <mat-icon>account_circle_outlined</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
 
