@use '../styles/variables.scss';

.container {
	// header+footer => needed to push footer to the bottom
	min-height: calc(100vh - (#{variables.$jsg-height-header} + #{variables.$jsg-height-footer}));
}

.mat-sidenav-container {
	// header+footer => needed to push footer to the bottom
	min-height: calc(100vh - (#{variables.$jsg-height-header} + #{variables.$jsg-height-footer}));
	//overflow: unset;
	z-index: unset;

	.right-sheet {
		// z-index == footer z-index + 1, so we can see its shadow
		z-index: 6;
		width: 400px;
		padding: 15px;
	}
}
